{
	"color_scheme": "Monokai Classic.sublime-color-scheme",
	"theme": "Default Dark.sublime-theme",
	/*"font_face": "Dank Mono",
	"font_size": 11.5,*/
	"line_padding_bottom": 1,
	"line_padding_top": 1,
	"save_on_focus_lost": true,   
	"hardware_acceleration": "opengl",
	"auto_complete": false,
	"detect_indentation": false,
	"ignored_packages":
	[
		"Vintage",
	],
}
